<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">OSKiosk</a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="/search"><i class="fa fa-home" aria-hidden="true"></i> Home</a>
      </li>
      <li class="nav-item ml-2">
        <a class="nav-link" routerLink="/products"><i class="fa fa-coffee" aria-hidden="true"></i> Products</a>
      </li>
      <li class="nav-item ml-2">
        <a class="nav-link" routerLink="/users"><i class="fa fa-user" aria-hidden="true"></i> Users</a>
      </li>
      <li class="nav-item ml-2">
        <a class="nav-link" routerLink="/cashdesk"><i class="fa fa-shopping-cart" aria-hidden="true"></i> Cash desk</a>
      </li>
      <li class="nav-item ml-2">
        <a class="nav-link" routerLink="/deposit"><i class="fa fa-money" aria-hidden="true"></i> Deposit station</a>
      </li>
      <li class="nav-item ml-2">
        <a class="nav-link" routerLink="/selfservice"><i class="fa fa-barcode" aria-hidden="true"></i> Self service</a>
      </li>
    </ul>
  </div>
</nav>