<navbar></navbar>

<div class="container-fluid">
    <h1 class="mt-2"> Products</h1>

    <form class="form-inline">
      <a routerLink="/product/new" class="btn btn-success mb-2 mr-2">New product</a>
      <input type="text" class="form-control mb-2" placeholder="Filter products" [(ngModel)]="filter" name="filter">
    </form>

    <div class="row">
      <div class="col-md-3" *ngFor="let product of filteredProducts">
        <div class="card" style="overflow: hidden">
          <div class="card-block">
            <h4 class="card-title">{{ product.name }}</h4>
            <a routerLink="/product/{{ product.id }}" class="btn btn-outline-primary">Edit</a>
            <a href="#" class="btn btn-outline-danger">Delete</a>
          </div>
        </div>
      </div>
    </div>
</div>