/* You can add global styles to this file, and also import other style files */

.flash-messages {
    position: fixed;
    z-index: 1030;
    top: 10px;
    right: 25px;
}

.flash-message {
    min-width: 400px;
    min-height: 100px;
    box-shadow: 5px 5px 15px gray;
}

.flash-huge {
    font-size: 300%;
    position: fixed;
    top: 30vh;
    width: 95vw;
    height: 40vh;
    text-align: center;
}
